<div class="iapp-project-info-wrap">
    <h1 class="iapp-page-header">Dress like a star: Build your Ultimate Oscar closet</h1>
    <p class="iapp-page-chatter">Love it or leave it? That’s for you to decide as you “shop” 100 memorable Oscar gowns and create your look book of favs…and, ahem, fails. Sort your closet using the tags at the right and say yay or nay to each look using the icons on the photos.</p>

    <p class="iapp-share-chatter">Your friend's choices are below. Press reset to select your favorites.</p>
    <div class="iapp-share-wrap"></div>
</div>
<div class="iapp-menu"></div>
<div id="card-wrap" class="iapp-card-wrap"></div>

